.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
