.features {
  width: 100%;
  text-align: center;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
  }

  &__icon {
    width: 70px;
    height: 76px;
    margin: 0 auto;

    path {
      fill: $blue;
    }
  }

  &__item {
    padding: 50px;
    flex-grow: 1;
    flex-basis: 100 / 3 * 1%;
  }

  &__desc {
    line-height: 21px;
  }
}


@media (max-width: $mobile) {

  .features {
    text-align: left;

    &__list {
      flex-direction: column;
    }

    &__icon {
      float: left;
      width: 37px;
      height: 37px;
      margin-right: 10px;
      margin-bottom: 70px;
    }

    &__heading {
      margin: 10px 0;
    }

    &__item {
      padding: 25px;
    }
  }

}
