.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;

  &__box {
    flex-grow: 1;
    flex-basis: 100 / 3 * 1%;
    margin: auto;

    &--logo {
      font-size: 21px;
      font-weight: bold;
    }
  }

  &__icon-by {
    margin-left: 10px;
    vertical-align: middle;
    @include svgSprite(website-by);
    width: 27px;
    height: 30px;
    &:hover {
      @include svgSprite(website-by-hvr);
    }
    &:active {
      @include svgSprite(website-by-down);
    }
  }
  &__icon-for {
    margin-left: 10px;
    vertical-align: middle;
    @include svgSprite(for);
    width: 27px;
    height: 33px;
    &:hover {
      @include svgSprite(for-hvr);
    }
    &:active {
      @include svgSprite(for-down);
    }
  }
}


@media (max-width: $mobile) {

  .footer {
    flex-direction: column;
    padding: 30px;

    &__box {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
