.nav {
  position: relative;
  text-align: center;
  background-color: $white;

  &__hamburger {
    position: absolute;
    width: 23px;
    height: 22px;
    z-index: 101;
    right: 20px;
    bottom: 30px;
    display: none;

    path {
      fill: $blue;
    }

  }

  &__hamburger-close {
    position: absolute;
    width: 23px;
    height: 22px;
    z-index: 101;
    right: 20px;
    top: 20px;
    display: none;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__item {
    padding: 15px 0;

    &--logo {
      padding: 0;
    }
  }

  &__logo {
    position: relative;
    z-index: 100;
    display: block;
  }

  &__link {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: $main-color;

    &--logo {
    }
  }
}


@media (max-width: $mobile) {

  .nav {

    &__hamburger {
      display: block;
    }
    &__hamburger-close {
    }

    &__list {
      flex-direction: column;
    }

    &__link {
        color: $white;
    }

    &__item {
      display: none;
      position: relative;
      background-color: $blue;
      border-top: 1px solid #000;
      &:hover {
        background-color: $blue-hvr;
      }
      &:active {
        background-color: $blue-down;
        color: rgba(255, 255, 255, 0.3);
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, .20);
      }

      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 3;
      }
      &:nth-child(3) {
        order: 5;
        align-self: center;
        background-color: $white;
        border-top: none;
        display: block;
        &::before {
          height: 0;
        }
      }
      &:nth-child(4) {
        order: 1;
      }
      &:nth-child(5) {
        order: 4;
        background: $blue url(../images/nav-shadow.png) no-repeat bottom;
        background-size: 100%;
        &:hover {
          background-color: $blue-hvr;
        }
        &:active {
          background-color: $blue-down;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }

}
