.search {
  text-transform: uppercase;
  max-width: 570px;
  min-height: 480px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  z-index: 100;
  font-weight: bold;
  margin: 0 auto;
  background-color: $white;


  &__heading {
    padding: 35px 0;
    background-color: $brown;
    font-size: 21px;
    color: $white;
  }

  &__row {
    display: block;
  }

  &__col1 {
    display: inline-block;
    width: 110px;
  }

  &__children {
    margin: 0 21px 0 44px;
  }


  &__date {
    position: relative;
    display: inline-block;
    width: 345px;
    background-color: $gray;
    margin-bottom: 30px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 40px;
    border: 0;
    background: $gray url(../images/date.png) no-repeat 97%;
    &:hover {
      background-image: url(../images/date-black.png);
    }
    &:active {
      background-image: url(../images/date-blue.png);
    }
  }

  &__form {
    padding: 55px;
    text-align: left;
  }


  &__number {
    width: 38px;
    height: 38px;
    background-color: $gray;
    line-height: 38px;
    border: 0;
    font-weight: bold;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    text-align: center;
    background: none;
    outline: none;
    pointer-events: none;
  }

  &__btn {
    width: 100%;
    height: 58px;
    line-height: 58px;
    text-transform: uppercase;
    font-size: 21px;
    color: $white;
    background-color: $blue;
    border: 0;
    margin-top: 55px;
    &:hover {
      background-color: $blue-hvr;
    }
    &:active {
      background-color: $blue-down;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__wrap {
    display: inline;
  }
}


span.spinner {
  position: relative;
  height: 38px;
  user-select: none;
  background-color: $gray;
  display: inline-block;
  vertical-align: middle;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-right: 0;
  cursor: pointer;
  transition: 0.1s linear;
}

span.spinner > .sub {
  position: relative;
  &:hover {
    &::before {
      @include sprite($s-minus-black);
    }
  }
  &:active {
    &::before {
      @include sprite($s-minus-blue);
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include sprite($s-minus);
  }
}

span.spinner > .add {
  position: relative;
  &:hover {
    &::before {
      @include sprite($s-plus-black);
    }
  }
  &:active {
    &::before {
      @include sprite($s-plus-blue);
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    @include sprite($s-plus);
  }
}

span.spinner > .add {
  top: 0;
  border-left: 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}


@media (max-width: $mobile) {

  .search {

    &__form {
      padding:30px 20px 50px;
    }

    &__heading {
      font-size: 18px;
    }

    &__row {
      display: block;
    }

    &__date {
      width: 100%;
    }

    &__col1 {
      display: block;
    }

    &__children {
      display: block;
      margin: 0;
      width: 50%;
    }

    &__wrap {
      display: inline-block;
      width: 49%;
    }
  }

}
