.social {
  font-size: 0;

  &__item {
    font-size: 14px;
    display: inline-block;
    margin-right: 6px;
    &:last-child {
      margin-right: 0;
    }


  }

  &__link {
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    background-color: $blue;
    &:hover {
      background-color: $blue-hvr;
    }
    &:active {
      background-color: $blue-down;
      color: rgba(255, 255, 255, 0.3);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &--tw {
      &::before {
        @include svgSprite(twitter);
      }
    }
    &--fb {
      &::before {
        @include svgSprite(facebook);
      }
    }
    &--ytube {
      &::before {
        @include svgSprite(youtube);
      }
    }
  }
}
