/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-minus-black: (11px, 11px, -11px, -11px, 11px, 3px, 22px, 22px, '../images/sprite.png', 's-minus-black', );
$s-minus-blue: (11px, 14px, -11px, -14px, 11px, 3px, 22px, 22px, '../images/sprite.png', 's-minus-blue', );
$s-minus: (11px, 17px, -11px, -17px, 11px, 3px, 22px, 22px, '../images/sprite.png', 's-minus', );
$s-plus-black: (0px, 0px, 0px, 0px, 11px, 11px, 22px, 22px, '../images/sprite.png', 's-plus-black', );
$s-plus-blue: (11px, 0px, -11px, 0px, 11px, 11px, 22px, 22px, '../images/sprite.png', 's-plus-blue', );
$s-plus: (0px, 11px, 0px, -11px, 11px, 11px, 22px, 22px, '../images/sprite.png', 's-plus', );
$spritesheet-sprites: ($s-minus-black, $s-minus-blue, $s-minus, $s-plus-black, $s-plus-blue, $s-plus, );
$spritesheet: (22px, 22px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
