<footer class="footer">
  <div class="footer__box footer__box--logo">#visitSEDONA</div>
  <div class="footer__box">
    <ul class="social">
      <li class="social__item"><a href="#" class="social__link  social__link--tw"></a></li>
      <li class="social__item"><a href="#" class="social__link social__link--fb"></a></li>
      <li class="social__item"><a href="#" class="social__link social__link--ytube"></a></li>
    </ul>
  </div>
  <div class="footer__box">
    WEBSITE by <a class="footer__icon-by" href="#"></a> FOR <a class="footer__icon-for" href="#"></a>
  </div>
</footer>
