  <header class="header">
    <nav class="nav">
      <a href="#" class="nav__hamburger">
        {% include "images/svg/hamburger.svg" %}
      </a>
      <a href="#" class="nav__hamburger-close">
        {% include "images/svg/hamburger-close.svg" %}
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">ИНФОРМАЦИЯ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">ФОТО И ВИДЕО</a></li>
        <li class="nav__item nav__item--logo"><a href="#" class="nav__link nav__link--logo">
          <img class="nav__logo" src="images/logo@x1.png"
               srcset="images/logo@x2.png 2x,
                       images/logo@x3.png 3x"
           alt="Logo" width="138" height="70">
        </a></li>
        <li class="nav__item"><a href="#" class="nav__link">КАРТА ШТАТА</a></li>
        <li class="nav__item"><a href="#" class="nav__link">ГОСТИНИЦЫ</a></li>
      </ul>
    </nav>
  </header>
